/* ** GLOBAL STYLES ** */
html
{
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::before,
*::after
{
  box-sizing: inherit;
}
/* ----------------- */
/* ===== body ====== */
/* ----------------- */
body
{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  font-family: Arial, sans-serif;
  letter-spacing: 0.5px;
  background-color: #fff;
  color: #222;
}
img
{
  max-width: 100%;
  height: auto;
}
/* *** CONTAINER *** */
.container
{
  width: 100%;
  max-width: 1420px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
.electronic-rca-container
{
  position: relative;
  width: 100%;
  max-width: 1630px;
}
/* VISUALLY-HIDDEN  */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.button
{
  display: inline-block;
  padding: 20px 68px;
  cursor: pointer;
  border-radius: 60px;
  border: none;
  background-color: #EB242A;
  font-family: Roboto;
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  text-align: center;
  color: #fff;
}
.button:hover
{
  background-color: rgb(235, 36, 42, 0.8);
}
.button:active
{
  background-color: rgb(235, 36, 42, 0.6);
}
/* * * header * * */
.site-header-hero {
  background-color: #e5e5e5;
  background-image: url(../img/hero-bg.svg), linear-gradient(212.6deg, #FFFFFF 3.87%, rgba(255, 255, 255, 0) 45.48%);
  background-position: calc(50% + 350px) 0px;
  background-repeat: no-repeat;
}
.site-header {
  padding-top: 50px;
}
.site-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-header-logo:hover
{
  opacity: 0.8;
}
.site-header-logo:active
{
  opacity: 0.6;
}
.site-logo-img {
  display: flex;
}
.site-header-phone-link {
  display: flex;
  align-items: center;
  border: 2px solid red;
  text-decoration: none;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: red;
  padding: 13px 31px 13px 66px;
  border-radius: 33px;
  position: relative;
}
.site-header-phone-link:hover
{
  opacity: 0.8;
}
.site-header-phone-link:active
{
  opacity: 0.6;
}
.site-header-phone-link-img
{
  width: 48px;
  height: 48px;
  position: absolute;
  left: -1%;
}

/* * * HERO * * */
.site-hero {
  padding-top: 155px;
  padding-bottom: 150px;
}
.hero-heading {
  max-width: 567px;
  width: 100%;
  font-family: Roboto;
  font-size: 90px;
  font-weight: 700;
  line-height: 109px;
  text-align: left;
  padding: 0;
  margin: 0;
  color: #272D4E;
  margin-bottom: 36px;
}
.hero-text {
  max-width: 551px;
  width: 100%;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  text-align: left;
  margin: 0;
  padding: 0;
  color: #57606A;
  margin-bottom: 118px;
}
.button-hero
{
  margin-right: 31px;
}
.hero-span{
  font-family: Roboto;
  font-size: 29px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
  color: #94A2B3;
}
.hero-span-link{
  font-family: Roboto;
  font-size: 29px;
  font-weight: 700;
  line-height: 40px;
  text-align: left;
  color: #299EF3;
  margin-left: 10px;
}
/* ** MAIN CONTENT ** */
.main-content
{
  flex-grow: 1;
  padding-top: 118px;
}
.cashback-section
{
  margin-bottom: 150px;
}
.cashback {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 100px;
  border: none;
  border-radius: 21px;
  background-color: #FDF4F4;
  margin-bottom: 120px;
}
.cashback-title {
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 53px;
  text-align: left;
  color: #001A49;
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
}
.cashback-text {
  font-family: Roboto;
  width: 670px;
  font-size: 22px;
  font-weight: 500;
  line-height: 36px;
  text-align: left;
  color: #57606A;
  margin: 0;
  padding: 0;
}
.cashback-img {
  display: flex;
}
.follow-heading
{
  max-width: 978px;
  width: 100%;
  font-family: Roboto;
  font-size: 50px;
  font-weight: 700;
  line-height: 76px;
  text-align: center;
  color: #272D4E;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}

.easy-steps-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}
.easy-steps-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  counter-increment: step;
}
.easy-steps-item::before
{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  content: counter(step);
  width: 99px;
  height: 99px;
  border-radius: 50%;
  background-color: #fff;
  color: #EB242A;
  font-size: 54px;
  line-height: normal;
  font-weight: 500;
  box-shadow: 0px 12.375px 24.75px 0px rgb(0 0 0 / 11%);
}
.easy-steps-item-a::after
{
  position: absolute;
  top: 50px;
  right: -220px;
  width: 250px;
  height: 2px;
  border: none;
  background-color: #C8C8C8;
  content: "";
}
.steps-item-title {
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 70px;
  text-align: center;
  color: #272D4E;
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
}
.steps-item-text {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  color: #57606A;
  padding: 0;
  margin: 0;
}
.steps-item-text-3
{
  width: 292px;
}

/* * * calculate * * */
.calculate-heading {
  font-family: Roboto;
  font-size: 50px;
  font-weight: 700;
  line-height: 76px;
  text-align: center;
  color: #001A49;
  padding: 0;
  margin: 0;
}
.calculate-text {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
  color: #57606A;
  padding: 0;
  margin: 0;
  margin-bottom: 90px;
}
.upload-complete-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 200px;
}
.upload-pic {
  width: 690px;
  display: flex;
  background-color: #EB242A;
  padding: 25px 40px;
  border: none;
  border-radius: 21px;
  margin-right: 45px;
}
.upload-img {
  width: 51px;
  height: 47px;
  margin-right: 35px;
}
.upload-pic-content {
  margin-right: 55px;
}
.upload-pic-title {
  width: 286px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  text-align: left;
  color: #fff;
  padding: 0;
  margin: 0;
  margin-bottom: 11px;
}
.upload-pic-text {
  width: 351px;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: #fff;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  margin: 0;
  padding: 0;
}
.complete-manual {
  width: 690px;
  display: flex;
  border: 3px solid #EB242A;
  border-radius: 21px;
  padding: 25px 40px;
}
.complete-man-img {
  width: 49px;
  height: 49px;
  margin-right: 35px;
}
.complete-manual-content {
  margin-right: 90px;
}
.complete-manual-title {
  width: 185px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  text-align: left;
  padding: 0;
  margin: 0;
  margin-bottom: 11px;
  color: #001A49;
}
.complete-manual-text {
  width: 337px;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  margin: 0;
  padding: 0;
  color: #001A49;
}
/* * card label * */
.card-label {
  align-self: center;
  cursor: pointer;
}
.card-input-img {
  width: 60px;
  height: 60px;
}
.click-here
{
  background-color: #EB242A;
  padding-top: 54px;
  padding-bottom: 42px;
}

.click-here-text
{
  width: 689px;
  font-family: Roboto;
  font-size: 40px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: left;

  font-family: Roboto;
  font-size: 40px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  padding: 0;
  margin: 0;
}

/* =============== */
.click-here-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.input-tel {
  padding: 20px 100px 20px 40px;
  border: none;
  border-radius: 48px;
  background-color: #fff;
  font-family: roboto;
  font-style: Medium;
  font-size: 28px;
  line-height: 35px;
}
.form-tel
{
  position: relative;
  display: flex;
}
.input-tel:focus
{
  outline: 4px dotted #fff;
  outline-offset: 3px;
}
.phone-red-button
{
  position: absolute;
  top: 15px;
  right: 10px;
  width: 47px;
  height: 47px;
  padding: 0;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

/* .form-tel::after
{
  z-index: 1;
  position: absolute;
  width: 48px;
  height: 48px;
  display: flex;
  content: "";
  background-image: url(../icons/phone-red.svg);
  background-repeat: no-repeat;
  top: 15px;
  right: 15px;
} */



/* * novabrocker give you * */
.novabrocker-give-you
{
  padding-top: 107px;
  padding-bottom: 130px;
}
.novabrocker-give-you-heading
{
  font-family: Roboto;
  font-size: 50px;
  font-weight: 700;
  line-height: 85px;
  letter-spacing: -1.25px;
  text-align: center;
  color: #001A49;
  margin: 0;
  padding: 0;
  margin-bottom: 84px;
}
.nv-give-you-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 30px;
  grid-row-gap: 50px;
}
.nv-give-you-grid-item {
  width: 100%;
  max-width: 650px;
  display: flex;
  border-radius: 21px;
  padding: 32px 38px 22px;
  background-color: rgb(78, 78, 78, 0.05);
}
.nv-grid-item-img {
  width: 64px;
  height: 64px;
  margin-right: 20px;
}
.nv-give-you-grid-heading {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  color: #001A49;
  padding: 0;
  margin: 0;
  margin-bottom: 4px;
}
.nv-give-you-grid-text {
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #4F596A;
  padding: 0;
  margin: 0;
}
/* * electronic-rca * */
.electronic-rca {
  margin-bottom: 150px;
}
.electronic-rca-content {
  max-width: 1200px;
  background-color: rgb(235, 36, 42, 0.05);
  padding: 142px 90px 237px;
  border-radius: 25px;
}
.electronic-rca-heading {
  width: 710px;
  font-family: Roboto;
  font-size: 60px;
  font-weight: 700;
  line-height: 75px;
  letter-spacing: -1.17px;
  text-align: left;
  color: #001A49;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}
.electronic-rca-text {
  font-family: Mulish;
  font-size: 22px;
  font-weight: 400;
  line-height: 35px;
  text-align: left;
  color: #57606A;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
}
.electronic-rca-video {
  position: absolute;
  right: 15px;
  top: 174px;
  padding: 160px 300px;
  background-color: #001A49;
  border-radius: 30px;
  box-shadow: 0px 47.3172721862793px 65.06124877929688px 0px #818A8C;
}
.electronic-rca-video-play-icon {
  display: inline-block;
}
.button-playback
{
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  padding: 0;
}
.button-playback:hover
{
  opacity: 0.8;
}
/* * * footer * * */
.site-footer
{
  padding-top: 100px;
  padding-bottom: 30px;
  background-color: #272D4E;
}
.site-footer-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 70px;
  border-bottom: 2px solid #fff;
  margin-bottom: 24px;
}
.site-footer-logo {
  display: flex;
}
.site-footer-logo:hover
{
  opacity: 0.8;
}
.site-footer-logo:active
{
  opacity: 0.6;
}
.sitenav-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
.sitenav-list-item {
  list-style: none;
}
.sitenav-list-item:not(:last-child)
{
  margin-right: 75px;
}
.sitenav-list-link {
  text-decoration: none;
  color: #fff;
}
.sitenav-list-link:hover
{
  opacity: 0.8;
}
.sitenav-list-link:active
{
  opacity: 0.6;
}
.site-footer-list {
  display: flex;
  padding: 0;
  margin: 0;
}
.site-footer-list-item {
  list-style: none;
}
.site-footer-list-item:not(:last-child)
{
  margin-right: 65px;
}
.footer-link {
  text-decoration: none;
}
.footer-link-img-master {
  width: 60px;
  height: 43px;
  display: flex;
}
.footer-link-img-visa {
  width: 60px;
  height: 45px;
  display: flex;
}
.copywrite
{
  color: #fff;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
}